<!DOCTYPE HTML>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Coffee List</title>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<style>
	@import url(/static/css/bootstrap.min.css);

	.debit { color: #800; }
	.assets { color: #080; }
	.bad:after { content: " 😞"; }
	.bad { font-weight: bold; }
	.great:after { content: " 😃"; }

	table.table tr.imagerow img { max-width: 1200px; }
	table.table tr.imagerow td { border-top: none !important; }
	tr.del { opacity: .5; text-decoration: line-through; }

	p span.helptext {
		display: block;
		color: #aaa;
		font-size: small;
	}

	.errorlist {
		color: #f00;
		font-size: small;
	}
</style>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
        }
    }
});
$(document).ready(function() {
		$("a.load_more").click(function(e) {
			e.preventDefault();
			var $this = $(this);
			var total = $this.data("total");
			var has = $this.closest("table").find("tr").length - 2;
			if(has < total) {
				$.post(document.location, "load_more=" + has, function(rsp) {
					var old_position = $this.offset().top;
					$this.closest("tr").before(rsp);
					$(document).scrollTop($(document).scrollTop() + $this.offset().top - old_position);
					if(has + 10 >= total) {
						$this.remove();
					}
				});
			}
			return false;
		});
});
</script>

<body>
<div class="container">

	<div class="page-header">
		<h1><a href="/">Coffee List</a></h1>
	</div>

	{% block content %}
	{% endblock %}

	<br><br>
</div>
</body>
