{% extends "base.html" %}
{% load coffee %}
{% load bootstrap %}
{% block content %}

<h2>{{ drinker }}</h2>

Current balance: {{ drinker.deposit | amount }}

<h3>Latest transactions</h3>
<table class="table">
	<tr><th>Date</th><th>Amount</th><th>Description</th></tr>
	{% include "drinker-transaction.html" %}
	{% if total_transactions > 10 %}
	<tr><td colspan="3"><a href="#" data-total="{{ total_transactions }}" class="load_more"><span class="glyphicon glyphicon-option-vertical"></span> Load older entries</a></td></tr>
	{% endif %}
</table>


{% if request.user.is_authenticated %}

{% if drinker.note %}
<div class="panel panel-info">
	<div class="panel-heading">
		    <h3 class="panel-title">Note for this drinker</h3>
	</div>
	<div class="panel-body">
		{{ drinker.note }}
	</div>
</div>
{% endif %}

<div class="panel panel-primary">
	<div class="panel-heading">
		    <h3 class="panel-title">Manage this coffee drinker</h3>
	</div>
	<div class="panel-body">
		<form method="post" action="{% url "make-deposit" drinker.pk %}">
			{% csrf_token %}
			{{ deposit_form | bootstrap }}
			<p class="checkbox">
			<label>
				<input type="checkbox" name="account_globally" value="1" checked> Also add a global accounting entry
				<span id="helpBlock" class="help-block">Uncheck this to correct mistakes that have not affected the global bank account yet, e.g. mistakes due to wrong cross counts.</span>
			</label>
			</p>
			<input type="submit" value="Deposit" class="btn btn-primary">
			<a class="btn btn-default" href="{% url "edit-drinker" drinker.pk %}">Edit this coffee drinker's details</a>
		</form>
	</div>
</div>
{% endif %}

{% endblock %}
