{% extends "base.html" %}
{% block content %}

<h2>Sheet from {{ sheet.pub_date }}</h2>

{% for page in sheet.pages.all %}
{% if page.scan %}
<img src="{{ page.get_absolute_url }}" class="img-responsive sheet" data-reverse-url="{% url "reverse-sheet-page-click" page.coffee_list.pk page.page_number %}" data-fix-url="{% url "fix-sheet-page-click" page.coffee_list.pk page.page_number %}">
{% endif %}
{% endfor %}

{% if request.user.is_authenticated %}
<div class="modal fade" role="dialog" id="fix-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Fix cross count for <span class="username">..</span></h4>
			</div>
			<div class="modal-body">
				{% csrf_token %}
				<input type="number" class="crosscount" name="crosscount">
				<br><br><a href="#" class="detaillink">Or go to <span class="username">..</span>s details page</a>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" class="save">Save changes</button>
			</div>
		</div>
	</div>
</div>

{% if not sheet.approved %}
<br><br>
<a href="{% url "approve-sheet" sheet.pk %}" class="btn btn-primary" onclick="return confirm('Are you certain you want to approve of this sheet?');">Approve sheet</a>
<a href="{% url "download-sheet" sheet.pk %}" class="btn btn-primary">Download blank sheet</a>
{% endif %}

{% endif %}

<script type="text/javascript">
	$(".sheet").each(function() {
			var $sheet = $(this);
			var reverse_url = $sheet.data("reverse-url");
			var fix_url = $sheet.data("fix-url");
			$sheet.click(function(e) {
				var original_image = new Image();
				original_image.onload = function() {
					var y = Math.round(e.offsetY * original_image.height / $sheet.height());
					var reverse_goto = reverse_url + "?y=" + y;
					var fix_handler = fix_url + "?y=" + y;

					{% if request.user.is_authenticated and not sheet.approved %}
					$.get(fix_handler, function(rsp) {
						if(typeof rsp.error != "undefined") {
							alert(rsp.error);
							return;
						}
						$("#fix-dialog").data("response-url", fix_handler);
						$("#fix-dialog .username").text(rsp.name);
						$("#fix-dialog .detaillink").attr("href", reverse_goto);
						$("#fix-dialog .crosscount").val(rsp.cross_count);
						$("#fix-dialog").modal();
						setTimeout(function() {
							$("#fix-dialog .crosscount").focus();
						}, 500);
					});
					{% else %}
					document.location = reverse_goto;
					{% endif %}
				};
				original_image.src = $sheet.attr("src");
				e.preventDefault();
			});
	});

	{% if request.user.is_authenticated %}
	$("#fix-dialog .crosscount, #fix-dialog .save").keypress(function(e) {
		if(e.keyCode == 13) $(this).click();
	}).click(function() {
		$.post($("#fix-dialog").data("response-url"), { "cross_count": $("#fix-dialog .crosscount").val() }, function() { $("#fix-dialog").modal("hide"); });
	});
	{% endif %}
</script>
{% endblock %}
